*{
    margin: 0;
    padding: 0;
}
#header
{
    background-color: black;
    width: 100%;
    height: 58px;
    
}
.links
{
    text-align: right;
    padding-right:8px;
    padding-top: 18px;
    padding-bottom: 5px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    margin-right: 130px;
    margin-left: 55px;
    


}
.links a:hover
{
    text-decoration: underline;

    
}

.links a
{
    color: azure;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 16px;
    
}
.links img
{
    width: 13px;
    padding-left: 8px;
    padding-right: 4px;
}
.wht img
{
    padding-left: 140px;
    margin-top: -10px;
    height: 48px; 

}
.wht a{
    text-decoration: none;
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 16px;

    margin-left: 8px;
    margin-top: 3px;
    color: black;
    letter-spacing: -1px;
    background-color:white;
    background-position: center;
    
}
.wht a:hover
{

opacity: 0.6px;

}
.wht{
    width: 100%;
    background-color:white;
    height: 48px;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    gap: 20px
    ;
    
}
.image1
{
    width: 100%;
    
    
    
}
.image1 img{
    width: 100%;
    height:630px;
    
    margin: 0 auto;
    
}
.srchbox
{
    border: 1px solid black;
    border-color: rgb(0, 0, 0);
    width: 172px;
    height: 32px;
    margin-left: 340px;
    align-content: center;
    
}
.sn p
{
    font-size: small;
    margin-left: 5px;
}
.imgt1
{
 margin-top: -360px;
 margin-left: 20px;
 font-weight: 500px;
 color: white;
 font-weight: bold;
 font-size: 50px;
 word-spacing: 1px;
}
.p1
{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.sb
{
    padding-left: 20px;
    padding-top: 31px;
}
.sb button
{
    text-align: center;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px
    
}
.sb button:hover
{
    background-color: grey;
    color: white;
}
.rightdown
{
    margin-left: 1330px;
    margin-top: 100px;
  
}
.rightdown button
{
    text-align: center;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    border-width: 1px;
}
.line
{
    width: 95%;
margin-left: 40px;
margin-top: 20px;
    height: 3px;
    background-color: rgb(255, 157, 0);
    position: absolute;
}
.did
{
    margin-top: 690px;
    width: 70%;
    height: 41px;
    background-color:rgb(255, 255, 255);
    padding-top: 30px;
    margin-left: 260px;
    
}
.did a{

    color: black;
    text-decoration: none;
    text-align: center;
    font-family: Franklin Gothic ATF Bold, sans-serif;
    gap: 80px;
    padding-left:20px;
    margin-left: 30px;
    font-weight: 799;
    
}
.did a:hover{

    opacity: 0.5;
}
.expl
{
   width: 100%;
   height: 640px;
   background-color:#ececec;
   font-size: 20px;
}
.expl h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    size: 42px;
    line-height: 19px;
    font-weight: 800;
    padding-left: 150px;
    padding-top: 30px;
    font-weight: 900;
    padding-bottom: 30px;
}
.pic1
{
    
    width: 80%;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.one,.two,.thre
{
    
    width: 350px;
    height:500px;
}
.one img
{
    width: 100%;
}
.two img
{
    width: 100%;
}
.thre img
{
    width: 100%;
}
.fa-sharp
{
    padding-left: 5px;
}
.fa-sharp:hover
{

padding-left: 10px;
animation-duration: 3s;
display: auto;
animation-delay: 3s;

}
.lstd
{
    width: 100%;
    height: 30px;
    background-color:white;
}
.luck
{
    width: 80%;
    background-color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    margin-left: 140px;
    align-items: center;
    justify-content: space-around;
    margin-top: -50px;
   
}
.luck img
{
    width: 95%;
    height:auto;
    margin-top: 20px;
   
    display: flex;
  

}
.ftr
{
    background-color: black;
    width: 100%;
    height: 900px;
    margin-top: 390px;
}
.hd{
    padding-left: 210px;
    width: 360px;
    margin-top: 35px;
}
.p4,.p3,.p2,.p1 h3
{
    color: rgb(0, 0, 0);
 
}
.hl
{
    width: 80%;
    margin-left: 160px;
    margin-top: 15px;
    height: 0.1px;
    position: absolute;
}
.txts
{
    width: 75%;
    background-color: rgb(0, 0, 0);
    height: 400px;
   margin-left: 190px;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
}
.r1,.r2,.r3
{
    color: white;
    font-family: Libre Franklin, sans-serif;
    
}
    
.tr1
{
    margin-left: 0px;
    
    
}
.anim a
{
    text-decoration: none
}
.anim a:hover
{
text-decoration: underline;
color: aqua;
}
.anim1 a
{
    text-decoration: none
}
.anim1 a:hover
{
text-decoration: underline;
color: aqua;
}
.anim3 a
{
    text-decoration: none
}
.anim3 a:hover
{
text-decoration: underline;
color: rgb(0, 0, 0);
}
.h2
{
    width: 100%;
    margin-left: 20px;
    margin-top: 15px;
    height: 0.1px;
    margin-bottom: 35px;
}
.lin
{
    margin-top: 400px;
    width:80%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
}
.r4 a
{
    text-decoration: none;
    display: flex;
    
}
    .r4 a:hover
{
    text-decoration: underline;

}
.r4
{
    display: flex;
}
.r4
{
    color: white;
    font-family: Libre Franklin, sans-serif;
    font-size: small;
    
}
.h3
{
    width: 100%;
    margin-left: 20px;
    margin-top: 15px;
    height: 0.1px;
    position: absolute;
    top: 150px;
}
.ls
{
    width: 100%;
    height: 190px;
    background-color: rgb(0, 0, 0);
    margin-top: 195px;
}
.lng
{
    width: 275px;
    height: 49px;
    background-color: rgb(0, 0, 0);
    margin-top: 220px;
    position: absolute;
    margin-left: 270px;
    
    border: 1px;
    border: 2px solid rgba(244, 114, 0, 0.826);
    border-radius: 5px;
    align-content: center;
}
.lng h5
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    display: flex;
    justify-content: left;
    margin-top: -26px;
    position: absolute;
    font-size: 17px;
    
}
.lng img{
    height: 32px;
    padding-left: 14px;
}
.lng im2
{
    margin-left: 60px;
    padding-top: -40px;
    padding-left: -20px;
    display: flex;
    justify-content: right;
    position: absolute;
}
.we p {
    color: rgb(151, 151, 151);
    margin-top: 225px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    opacity: 0.9px;
    margin-left: 600px;
}
.we img
{
    top: 2640px;
    position: absolute;
    padding-bottom: 60px;
    height: 62px;
    padding-left: 1130px;
}
